{% extends 'Tutorials/Tutorials.html' %}
{% load static %}

{% block title %}C tutorial{% endblock %}

{% block topics %}

                <a href="{% url 'java' %}" class="u-align-left u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-button-style u-none u-text-active-palette-1-base u-text-body-color u-text-hover-grey-50 u-btn-1">C Home</a>
                <a href="{% url 'java' %}" class="u-align-left u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-button-style u-none u-text-active-palette-1-base u-text-body-color u-text-hover-grey-50 u-btn-1">C Introduction</a>
                <a href="{% url 'java' %}" class="u-align-left u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-button-style u-none u-text-active-palette-1-base u-text-body-color u-text-hover-grey-50 u-btn-1">C History</a>
                <a href="{% url 'java' %}" class="u-align-left u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-button-style u-none u-text-active-palette-1-base u-text-body-color u-text-hover-grey-50 u-btn-1">C Variables</a>
                <a href="{% url 'java' %}" class="u-align-left u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-button-style u-none u-text-active-palette-1-base u-text-body-color u-text-hover-grey-50 u-btn-1">C Home</a>
                <a href="{% url 'java' %}" class="u-align-left u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-button-style u-none u-text-active-palette-1-base u-text-body-color u-text-hover-grey-50 u-btn-1">C Home</a>
                <a href="{% url 'java' %}" class="u-align-left u-border-active-palette-2-base u-border-hover-palette-1-base u-border-none u-btn u-button-style u-none u-text-active-palette-1-base u-text-body-color u-text-hover-grey-50 u-btn-1">C Home</a>

{% endblock %}